.contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid orange;
    border-radius: 7px;
    max-width: 400px;
    max-height: 100px;
    padding: 15px;
    margin-bottom: 15px;
}

.contactBtn {
    height: 30px;
    width: 70px;
    padding: 5px;

}

.contactItems {
    display: flex;
    align-items: center;
}
.contactItems:not(:last-child){
    margin-bottom: 15px;
}
.icon {
    margin-right: 10px;

}